
<!-- <router-outlet> -->
  <!-- <app-user-auth></app-user-auth> -->
<!-- </router-outlet> -->
<router-outlet></router-outlet>
<!-- <app-dashboard></app-dashboard> -->

<!-- <mat-toolbar>
  
<button mat-icon-button color="primary" *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"  > 
  <mat-icon *ngIf="!sidenav.opened" >
    menu
  </mat-icon>
  <mat-icon *ngIf="sidenav.opened" >
    close
  </mat-icon>

</button> -->
<!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  <mat-icon>menu</mat-icon>
</button> -->

<!-- <p class="game-name">GAMING WORLD!</p> -->
  
<!-- </mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav"  >
    <img src="assets/1.jpg" class="img-User mat-elevation-z8" alt=""  width="90px">
    <h3 class="name">Robin </h3>
    <p class="designation">Software Engineer </p>
    <mat-divider></mat-divider>
    
    <button mat-button  class="menu-button">
      <span routerLink="" >Home</span>
    </button>
    <button mat-button  class="menu-button">
      <span>Detail</span>
    </button>
    <button mat-button class="menu-button" >
      <span routerLink="contact" >About</span>
    </button>
   
    <mat-divider></mat-divider>

  </mat-sidenav>
  <mat-sidenav-content >
    <div class="content mat-elevation-z4">
     <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<nav>HELLO</nav> -->
