form{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
    text-align: center;
}
form h1{
    color: blueviolet;
    font: 200;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: blueviolet !important;
    
}


// body{
//     background: black;
// }

.nav{
    display: flex;
    text-align: center;
    justify-content: center;
}